<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>호감 표시</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div th:unless="${@rq.member.hasConnectedInstaMember}" th:include="usr/part/needToConnect::base"></div>

    <th:block th:if="${@rq.member.hasConnectedInstaMember}">
        <script th:inline="javascript">
            const myInstaMemberUsername = /*[[ ${@rq.member.instaMember.username} ]]*/ null;

            function LikeForm__submit(form) {
                // username 이(가) 올바른지 체크

                form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

                if (form.username.value.length == 0) {
                    toastWarning('상대방의 인스타그램 아이디를 입력해주세요.');
                    form.username.focus();
                    return;
                }

                if (form.username.value.length < 3) {
                    toastWarning('상대방의 인스타그램 아이디를 3자 이상 입력해주세요.');
                    form.username.focus();
                    return;
                }

                if (form.username.value === myInstaMemberUsername) {
                    toastWarning('본인을 호감상대로 등록할 수 없습니다.');
                    form.username.focus();
                    return;
                }

                const $checkedAttractiveTypeCodeRadioButton = $(form).find("[name=attractiveTypeCode]:checked");

                if ($checkedAttractiveTypeCodeRadioButton.length == 0) {
                    toastWarning('상대방의 매력포인트를 선택해주세요.');
                    $(form).find("[name=attractiveTypeCode]:first").focus();
                    return;
                }

                form.submit(); // 폼 발송
            }
        </script>

        <div class="max-w-2xl w-full px-4">
            <h1 class="mb-4">
                <i class="fa-solid fa-heart-circle-plus"></i>
                호감표시
            </h1>

            <form th:action method="POST" class="flex flex-col gap-6"
                  onsubmit="LikeForm__submit(this); return false;">
                <div class="flex">
                    <label class="label gap-1">
                        <span class="label-text">
                            <i class="fa-brands fa-instagram"></i>
                            내 인스타그램 계정 : </span>
                        <span class="badge" th:text="${@rq.member.instaMember.username}"></span>
                    </label>
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">
                            <i class="fa-brands fa-instagram"></i>
                            상대방 인스타그램 계정</span>
                    </label>
                    <a href="#" onclick="$(this).attr('href', $(this).text().replaceAll(' ', ''));" target="_blank"
                       class="block mb-3 text-sm break-all underline text-blue-500">
                        <span>https://instagram.com/</span><span class="text-orange-500"></span>
                    </a>
                    <input type="text" name="username" placeholder="인스타그램 계정" class="input input-bordered"
                           autofocus onchange="$(this).keyup();"
                           onkeyup="$(this).prev().children(':last-child').text(this.value.trim());"
                           onpaste="setTimeoutZero(() => $(this).keyup());"/>
                    <script>
                        $(`input[name="username"]:last`).keyup();
                    </script>
                </div>

                <div class="form-control">
                    <div class="flex gap-6">
                        <label class="flex gap-2 items-center cursor-pointer">
                            <input class="radio radio-primary peer" type="radio" name="attractiveTypeCode" value="1"
                                   checked>
                            <i class="text-gray-500 fa-regular fa-face-smile-wink peer-checked:text-red-500"></i>
                            <span class="text-gray-500 peer-checked:text-gray-900 peer-checked:font-bold">외모</span>
                        </label>

                        <label class="flex gap-2 items-center cursor-pointer">
                            <input class="radio radio-primary peer" type="radio" name="attractiveTypeCode" value="2">
                            <i class="text-gray-500 fa-solid fa-handshake-angle peer-checked:text-blue-400"></i>
                            <span class="text-gray-500 peer-checked:text-gray-900 peer-checked:font-bold">성격</span>
                        </label>

                        <label class="flex gap-2 items-center cursor-pointer">
                            <input class="radio radio-primary peer" type="radio" name="attractiveTypeCode" value="3">
                            <i class="text-gray-500 fa-solid fa-coins peer-checked:text-yellow-500"></i>
                            <span class="text-gray-500 peer-checked:text-gray-900 peer-checked:font-bold">능력</span>
                        </label>
                    </div>
                </div>

                <button id="btn-like-1" class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-plus"></i>
                    <span>추가하기</span>
                </button>
            </form>

            <div class="text-center mt-4">
                <a th:if="${@rq.member.hasConnectedInstaMember}" href="list" class="btn btn-link">
                    <span>
                        <i class="fa-solid fa-list-ul"></i>
                        호감목록&nbsp;
                    </span>
                </a>
                <a th:if="${@rq.member.hasConnectedInstaMember}" href="/usr/member/me" class="btn btn-link">
                    <span>
                        <i class="fa-solid fa-house mr-1"></i>
                        내 정보&nbsp;
                    </span>
                </a>
            </div>
        </div>
    </th:block>
</main>
</body>

</html>

